In [49]:
import pandas as pd
from csv import reader
import PySimpleGUI as sg
import os
import numpy as np

In [50]:
path_csv = os.path.abspath(os.path.join(os.path.dirname("__file__"), '..', 'data_sets'))
path_scores = os.path.join(path_csv, 'scores.csv')

scores_dicctionary = {'facil': [], 'normal': [], 'dificil': []}


headings_array = ["facil", "normal", "dificil"]

In [51]:
def load_score_dicctionary():
    with open(path_scores, 'r') as csv_file:
        csv_reader = reader(csv_file,delimiter=',')
        for row in csv_reader:
            scores_dicctionary[row[1]].append((row[2],row[0]))
            scores_dicctionary[row[1]].sort(key=lambda tup: tup[0], reverse=True)
            
    return scores_dicctionary

In [52]:
load_score_dicctionary()

IndexError: list index out of range

In [ ]:
def convert_touple_to_string():
    for key in scores_dicctionary:
        scores_dicctionary[key] = [str(tup[0]) + ": " + str(tup[1]) for tup in scores_dicctionary[key]]
    return scores_dicctionary

convert_touple_to_string()

{'facil': ['j: u',
  'd: s',
  'd: k',
  '600: juan',
  'd: i',
  'd: h',
  '240: dss',
  '800: dkjsn',
  '400: diego',
  '10: dhhhh'],
 'normal': ['100: leo2', '200: leo', 'a: l', 'l: e', 'l: e', '340: ale'],
 'dificil': ['l: u', 'l: u', 'a: n', '450: lucia', '43: lucas', '300: ana'],
 'experto': ['10: pepe',
  '950: pedro8',
  '85: pedro72',
  '850: pedro7',
  '75: pedro62',
  '750: pedro6',
  '65: pedro52',
  '650: pedro5',
  '55: pedro42',
  '550: pedro4',
  '45: pedro32',
  '450: pedro3',
  '5: pedro22',
  '50: pedro2',
  '350: pedro1',
  '95: pedro0',
  '250: pedro',
  '1: pedro',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e',
  'p: e']}

In [ ]:
# convert the dictionary to a dataframe
df = pd.DataFrame(scores_dicctionary.values())
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,dkjsn: 800,juan: 600,diego: 400,dss: 240,dhhhh: 10,None,None,None,None,None,None,None,None,None,None,None,None,None
1,ale: 340,leo: 200,leo2: 100,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,lucia: 450,lucas: 43,ana: 300,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,pedro8: 950,pedro0: 95,pedro7: 850,pedro72: 85,pedro6: 750,pedro62: 75,pedro5: 650,pedro52: 65,pedro4: 550,pedro42: 55,pedro2: 50,pedro22: 5,pedro3: 450,pedro32: 45,pedro1: 350,pedro: 250,pepe: 10,pedro: 1

In [ ]:

con_array = np.array(scores_dicctionary.values())
con_array

array(dict_values([['dkjsn: 800', 'juan: 600', 'diego: 400', 'dss: 240', 'dhhhh: 10'], ['ale: 340', 'leo: 200', 'leo2: 100'], ['lucia: 450', 'lucas: 43', 'ana: 300'], ['pedro8: 950', 'pedro0: 95', 'pedro7: 850', 'pedro72: 85', 'pedro6: 750', 'pedro62: 75', 'pedro5: 650', 'pedro52: 65', 'pedro4: 550', 'pedro42: 55', 'pedro2: 50', 'pedro22: 5', 'pedro3: 450', 'pedro32: 45', 'pedro1: 350', 'pedro: 250', 'pepe: 10', 'pedro: 1']]),
      dtype=object)

In [ ]:
nl1 = list(scores_dicctionary.values())
nl1

[['dkjsn: 800', 'juan: 600', 'diego: 400', 'dss: 240', 'dhhhh: 10'],
 ['ale: 340', 'leo: 200', 'leo2: 100'],
 ['lucia: 450', 'lucas: 43', 'ana: 300'],
 ['pedro8: 950',
  'pedro0: 95',
  'pedro7: 850',
  'pedro72: 85',
  'pedro6: 750',
  'pedro62: 75',
  'pedro5: 650',
  'pedro52: 65',
  'pedro4: 550',
  'pedro42: 55',
  'pedro2: 50',
  'pedro22: 5',
  'pedro3: 450',
  'pedro32: 45',
  'pedro1: 350',
  'pedro: 250',
  'pepe: 10',
  'pedro: 1']]

In [ ]:
x = np.array(nl1)
y = x.T
y

/tmp/ipykernel_17937/520191418.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  x = np.array(nl1)

array([list(['dkjsn: 800', 'juan: 600', 'diego: 400', 'dss: 240', 'dhhhh: 10']),
       list(['ale: 340', 'leo: 200', 'leo2: 100']),
       list(['lucia: 450', 'lucas: 43', 'ana: 300']),
       list(['pedro8: 950', 'pedro0: 95', 'pedro7: 850', 'pedro72: 85', 'pedro6: 750', 'pedro62: 75', 'pedro5: 650', 'pedro52: 65', 'pedro4: 550', 'pedro42: 55', 'pedro2: 50', 'pedro22: 5', 'pedro3: 450', 'pedro32: 45', 'pedro1: 350', 'pedro: 250', 'pepe: 10', 'pedro: 1'])],
      dtype=object)

In [ ]:
result1 = list(scores_dicctionary.values())
    # invert the list of lists
result2 = list(map(list, zip(*result1)))

result1

[['dkjsn: 800', 'juan: 600', 'diego: 400', 'dss: 240', 'dhhhh: 10'],
 ['ale: 340', 'leo: 200', 'leo2: 100'],
 ['lucia: 450', 'lucas: 43', 'ana: 300'],
 ['pedro8: 950',
  'pedro0: 95',
  'pedro7: 850',
  'pedro72: 85',
  'pedro6: 750',
  'pedro62: 75',
  'pedro5: 650',
  'pedro52: 65',
  'pedro4: 550',
  'pedro42: 55',
  'pedro2: 50',
  'pedro22: 5',
  'pedro3: 450',
  'pedro32: 45',
  'pedro1: 350',
  'pedro: 250',
  'pepe: 10',
  'pedro: 1']]

In [ ]:
result2

[['dkjsn: 800', 'ale: 340', 'lucia: 450', 'pedro8: 950'],
 ['juan: 600', 'leo: 200', 'lucas: 43', 'pedro0: 95'],
 ['diego: 400', 'leo2: 100', 'ana: 300', 'pedro7: 850']]

In [ ]:
result2 = np.array(result1)
    # inverted the matrix


result2

/tmp/ipykernel_17937/3226268104.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result2 = np.array(result1)

array([list(['dkjsn: 800', 'juan: 600', 'diego: 400', 'dss: 240', 'dhhhh: 10']),
       list(['ale: 340', 'leo: 200', 'leo2: 100']),
       list(['lucia: 450', 'lucas: 43', 'ana: 300']),
       list(['pedro8: 950', 'pedro0: 95', 'pedro7: 850', 'pedro72: 85', 'pedro6: 750', 'pedro62: 75', 'pedro5: 650', 'pedro52: 65', 'pedro4: 550', 'pedro42: 55', 'pedro2: 50', 'pedro22: 5', 'pedro3: 450', 'pedro32: 45', 'pedro1: 350', 'pedro: 250', 'pepe: 10', 'pedro: 1'])],
      dtype=object)

In [ ]:
rest = np.array(scores_dicctionary.values())
rest

array(dict_values([['dkjsn: 800', 'juan: 600', 'diego: 400', 'dss: 240', 'dhhhh: 10'], ['ale: 340', 'leo: 200', 'leo2: 100'], ['lucia: 450', 'lucas: 43', 'ana: 300'], ['pedro8: 950', 'pedro0: 95', 'pedro7: 850', 'pedro72: 85', 'pedro6: 750', 'pedro62: 75', 'pedro5: 650', 'pedro52: 65', 'pedro4: 550', 'pedro42: 55', 'pedro2: 50', 'pedro22: 5', 'pedro3: 450', 'pedro32: 45', 'pedro1: 350', 'pedro: 250', 'pepe: 10', 'pedro: 1']]),
      dtype=object)

In [ ]:
#transpose the matrix
rest.T

array(dict_values([['dkjsn: 800', 'juan: 600', 'diego: 400', 'dss: 240', 'dhhhh: 10'], ['ale: 340', 'leo: 200', 'leo2: 100'], ['lucia: 450', 'lucas: 43', 'ana: 300'], ['pedro8: 950', 'pedro0: 95', 'pedro7: 850', 'pedro72: 85', 'pedro6: 750', 'pedro62: 75', 'pedro5: 650', 'pedro52: 65', 'pedro4: 550', 'pedro42: 55', 'pedro2: 50', 'pedro22: 5', 'pedro3: 450', 'pedro32: 45', 'pedro1: 350', 'pedro: 250', 'pepe: 10', 'pedro: 1']]),
      dtype=object)