In [4]:
import pandas as pd
from csv import reader
import PySimpleGUI as sg
import os

In [6]:
path_csv = os.path.abspath(os.path.join(os.path.dirname("__file__"), '..', 'data_sets'))
path_scores = os.path.join(path_csv, 'scores.csv')

scores_dicctionary = {'facil': [], 'normal': [], 'dificil': [], 'experto': []}


headings_array = ["facil", "normal", "dificil", "experto"]

In [7]:
def load_score_dicctionary():
    with open(path_scores, 'r') as csv_file:
        csv_reader = reader(csv_file,delimiter=',')
        for row in csv_reader:
            scores_dicctionary[row[1]].append((row[0], row[2]))
            scores_dicctionary[row[1]].sort(key=lambda tup: tup[1], reverse=True)
            
    return scores_dicctionary

In [8]:
load_score_dicctionary()

{'facil': [('juan', '600'), ('diego', '400')],
 'normal': [('ale', '340'), ('leo', '200')],
 'dificil': [('lucia', '450'), ('ana', '300')],
 'experto': [('pedro', '250'), ('pepe', '10')]}

In [14]:
def convert_touple_to_string():
    for key in scores_dicctionary:
        scores_dicctionary[key] = [str(tup[0]) + ": " + str(tup[1]) for tup in scores_dicctionary[key]]
    return scores_dicctionary

scores_dicctionary

{'facil': ['juan: 600', 'diego: 400'],
 'normal': ['ale: 340', 'leo: 200'],
 'dificil': ['lucia: 450', 'ana: 300'],
 'experto': ['pedro: 250', 'pepe: 10']}

In [15]:
df = pd.DataFrame(scores_dicctionary)
df

        facil    normal     dificil     experto
0   juan: 600  ale: 340  lucia: 450  pedro: 250
1  diego: 400  leo: 200    ana: 300    pepe: 10

In [17]:
df.dtypes

facil      object
normal     object
dificil    object
experto    object
dtype: object